

.login-header-container{
    width: 100%;
    margin-bottom: .5rem;
}

.login-header-container h2{
    text-align: center;
}

.invalid-user-alert{
    margin-top: 1rem;
}

.login-form-container{
  
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.registration{
    margin-top: 2rem;
    width: 100%;
    text-align: center;
}

.submit-login-btn{
    margin-top: 1rem;
    width: 100%;
}